body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  color: rgba($color-text, .75);
  font-size: .875rem;
  font-weight: 500;
}

.muted {
  color: rgba($color-text, .5);
}

.main-content {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .card {
    margin-bottom: 1rem;

    .title {
      margin-bottom: 1.5rem;
      font-size: 1.125rem;
      font-weight: 500;
    }
  }
}

.navbar {
  .brand {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &-dark {
    min-height: 4rem;
    background-color: $color-brand;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #fff;
  }
}

.lead {
  max-width: 80%;
  font-size: 1.5rem;
}
