@import "~bootstrap/scss/bootstrap.scss";
@import "Variables.scss";
@import "Common.scss";

.main-content {
  .content-title {
    margin-bottom: 3rem;
  }

  > .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
